@use "../../global" as g;

/*!
page > shoplist > shoplist
------------------------------
*/
.shoplist-list {
  display: grid;
  gap: 40px 16px;
  grid-template-columns: repeat(1, 1fr);

  @include g.mq(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include g.mq() {
    gap: 48px 32px;
  }
}

.shoplist-item {
  @include g.mq(xl) {
    display: flex;
    align-items: center;
  }
}

.shoplist-item-img {
  @include g.mq(xl) {
    width: 60%;
    max-width: 300px;
    flex-shrink: 0;
    aspect-ratio: auto 648 / 410;
  }
}

.shoplist-item-info {
  margin-top: 16px;

  @include g.mq(xl) {
    margin: 0 0 0 24px;
  }
}

.shoplist-item-name {
  font-size: 16px;

  @include g.mq() {
    font-size: 20px;
  }
}

.shoplist-item-adress {
  font-size: 12px;
  margin-top: 8px;

  @include g.mq() {
    font-size: 14px;
  }
}

.shoplist-item-tel {
  font-size: 18px;
  font-family: var(--font-family-english);

  @include g.mq() {
    font-size: 22px;
  }
}

.shoplist-item-detail {
  margin-top: 4px;
}

.shoplist-item-detail-item {
  font-size: 12px;

  @include g.mq() {
    font-size: 14px;
  }
}
