/*!
global > color
------------------------------
*/
:root {
    --color-bg-primary: #524433;
    --color-bg-secondary: #efede9;
    --color-bg-black: #000000;
    --color-bg-white: #ffffff;
    --color-border-black: #000000;
    --color-border-white: #ffffff;
    --color-font-primary: #524433;
    --color-font-white: #ffffff;
    --color-font-base: #000000;
}
