@use "../../global" as g;

/*!
page > single > single-article
------------------------------
*/
.single-date {
    margin-top: 16px;

    @include g.mq() {
        margin-top: 24px;
    }
}

.single-title {
    font-size: 22px;
    margin-top: 4px;

    @include g.mq() {
        font-size: 26px;
        margin-top: 8px;
    }
}
